@using RoyalCode.Yasamen.Demos.Wasm.BlazorShow.Internal;

@inject ShowGroups ShowGroups;
@inject BlazorShowOptions Options;

<div>
    <div class="title">
        @Options.Title
    </div>
    @foreach (var g in ShowGroups.Groups)
    {
        <div class="group" @key=g.Name>
            <div class="group-name">
                
            </div>
            <div class="group-components">
                @foreach (var show in g.Shows)
                {
                    <div class="show" @key=show.Name>
                        @if (show.HasMultipleScenes)
                        {
                            <span class="component-name has-multiple-scenes" title="@show.Description">
                                @show.Name
                            </span>
                            <div class="component-scenes">
                                @foreach (var scene in show.Scenary)
                                {
                                    <div class="scene" @key=scene.Name>
                                        <span class="scene-name scene-link" title="@scene.Description">
                                            @scene.Name
                                        </span>
                                    </div>
                                }
                            </div>
                        }
                        else
                        {
                            <a class="component-name scene-link" title="@show.Description">
                                @show.Name
                            </a>
                        }
                    </div>
                }
            </div>
            <div class="components">
                
            </div>
        </div>
    }
</div>

@code 
{

}
