@page "/demo/forms/text-field"

@layout AppMainLayout

<Box AdditionalClasses="p-8 bg-white border-none">

	<h1>TextField</h1>

	<p class="mb-4">Campos de texto com estilos baseados em Bootstrap, usando Tailwind. Exemplos de uso e estados.</p>

	<h2>Simples</h2>

	<EditForm Model="this">
		<TextField Label="Nome" @bind-Value="_name" Placeholder="Digite seu nome" />
	</EditForm>

	<h2>Com informação</h2>

	<EditForm Model="this">
		<TextField Label="Usuário" @bind-Value="_user" Placeholder="usuário" />
	</EditForm>

	<h2>Com prepend e append</h2>

	<EditForm Model="this">
		<TextField Label="Site" @bind-Value="_site" Placeholder="meusite">
			<Prepend>
				<FieldText>https://</FieldText>
			</Prepend>
			<Append>
				<FieldText>.com</FieldText>
			</Append>
		</TextField>
	</EditForm>

	<h2>Estado: Normal</h2>

	<EditForm Model="this">
		<Container>
			<Col>
				<TextField Label="Smallest" Size="Sizes.Smallest" @bind-Value="_stateNormal" Placeholder="normal" />
			</Col>
			<Col>
				<TextField Label="Smaller" Size="Sizes.Smaller" @bind-Value="_stateNormal" Placeholder="normal" />
			</Col>
			<Col>
				<TextField Label="Small" Size="Sizes.Small" @bind-Value="_stateNormal" Placeholder="normal" />
			</Col>
			<Col>
				<TextField Label="Medium" Size="Sizes.Medium" @bind-Value="_stateNormal" Placeholder="normal" />
			</Col>
			<Col>
				<TextField Label="Large" Size="Sizes.Large" @bind-Value="_stateNormal" Placeholder="normal" />
			</Col>
			<Col>
				<TextField Label="Larger" Size="Sizes.Larger" @bind-Value="_stateNormal" Placeholder="normal" />
			</Col>
			<Col>
				<TextField Label="Largest" Size="Sizes.Largest" @bind-Value="_stateNormal" Placeholder="normal" />
			</Col>
		</Container>
	</EditForm>

	<h2>Estado: Readonly</h2>

	<EditForm Model="this">
		<Container>
			<Col>
				<TextField Label="Smallest" Size="Sizes.Smallest" Value="@_stateReadonly" ReadOnly="true" />
			</Col>
			<Col>
				<TextField Label="Smaller" Size="Sizes.Smaller" Value="@_stateReadonly" ReadOnly="true" />
			</Col>
			<Col>
				<TextField Label="Small" Size="Sizes.Small" Value="@_stateReadonly" ReadOnly="true" />
			</Col>
			<Col>
				<TextField Label="Medium" Size="Sizes.Medium" Value="@_stateReadonly" ReadOnly="true" />
			</Col>
			<Col>
				<TextField Label="Large" Size="Sizes.Large" Value="@_stateReadonly" ReadOnly="true" />
			</Col>
			<Col>
				<TextField Label="Larger" Size="Sizes.Larger" Value="@_stateReadonly" ReadOnly="true" />
			</Col>
			<Col>
				<TextField Label="Largest" Size="Sizes.Largest" Value="@_stateReadonly" ReadOnly="true" />
			</Col>
		</Container>
	</EditForm>

	<h2>Estado: Disabled</h2>

	<EditForm Model="this">
		<Container>
			<Col>
				<TextField Label="Smallest" Size="Sizes.Smallest" Value="@_stateDisabled" Disabled="true" />
			</Col>
			<Col>
				<TextField Label="Smaller" Size="Sizes.Smaller" Value="@_stateDisabled" Disabled="true" />
			</Col>
			<Col>
				<TextField Label="Small" Size="Sizes.Small" Value="@_stateDisabled" Disabled="true" />
			</Col>
			<Col>
				<TextField Label="Medium" Size="Sizes.Medium" Value="@_stateDisabled" Disabled="true" />
			</Col>
			<Col>
				<TextField Label="Large" Size="Sizes.Large" Value="@_stateDisabled" Disabled="true" />
			</Col>
			<Col>
				<TextField Label="Larger" Size="Sizes.Larger" Value="@_stateDisabled" Disabled="true" />
			</Col>
			<Col>
				<TextField Label="Largest" Size="Sizes.Largest" Value="@_stateDisabled" Disabled="true" />
			</Col>
		</Container>
	</EditForm>

	<h2>Estado: Invalid</h2>

	<EditForm Model="this">
		<Container>
			<Col>
				<TextField Label="Smallest" Size="Sizes.Smallest" @bind-Value="_stateInvalid" Placeholder="inválido" Error="Este campo é inválido." />
			</Col>
			<Col>
				<TextField Label="Smaller" Size="Sizes.Smaller" @bind-Value="_stateInvalid" Placeholder="inválido" Error="Este campo é inválido." />
			</Col>
			<Col>
				<TextField Label="Small" Size="Sizes.Small" @bind-Value="_stateInvalid" Placeholder="inválido" Error="Este campo é inválido." />
			</Col>
			<Col>
				<TextField Label="Medium" Size="Sizes.Medium" @bind-Value="_stateInvalid" Placeholder="inválido" Error="Este campo é inválido." />
			</Col>
			<Col>
				<TextField Label="Large" Size="Sizes.Large" @bind-Value="_stateInvalid" Placeholder="inválido" Error="Este campo é inválido." />
			</Col>
			<Col>
				<TextField Label="Larger" Size="Sizes.Larger" @bind-Value="_stateInvalid" Placeholder="inválido" Error="Este campo é inválido." />
			</Col>
			<Col>
				<TextField Label="Largest" Size="Sizes.Largest" @bind-Value="_stateInvalid" Placeholder="inválido" Error="Este campo é inválido." />
			</Col>
		</Container>
	</EditForm>

	<h2>Estado: Normal com prepend</h2>

	<EditForm Model="this">
		<Container>
			<Col>
				<TextField Label="Smallest" Size="Sizes.Smallest" @bind-Value="_stateNormalWithPrepend" Placeholder="normal">
					<Prepend>
						<FieldText>@@</FieldText>
					</Prepend>
				</TextField>
			</Col>
			<Col>
				<TextField Label="Smaller" Size="Sizes.Smaller" @bind-Value="_stateNormalWithPrepend" Placeholder="normal">
					<Prepend>
						<FieldText>@@</FieldText>
					</Prepend>
				</TextField>
			</Col>
			<Col>
				<TextField Label="Small" Size="Sizes.Small" @bind-Value="_stateNormalWithPrepend" Placeholder="normal">
					<Prepend>
						<FieldText>@@</FieldText>
					</Prepend>
				</TextField>
			</Col>
			<Col>
				<TextField Label="Medium" Size="Sizes.Medium" @bind-Value="_stateNormalWithPrepend" Placeholder="normal">
					<Prepend>
						<FieldText>@@</FieldText>
					</Prepend>
				</TextField>
			</Col>
			<Col>
				<TextField Label="Large" Size="Sizes.Large" @bind-Value="_stateNormalWithPrepend" Placeholder="normal">
					<Prepend>
						<FieldText>@@</FieldText>
					</Prepend>
				</TextField>
			</Col>
			<Col>
				<TextField Label="Larger" Size="Sizes.Larger" @bind-Value="_stateNormalWithPrepend" Placeholder="normal">
					<Prepend>
						<FieldText>@@</FieldText>
					</Prepend>
				</TextField>
			</Col>
			<Col>
				<TextField Label="Largest" Size="Sizes.Largest" @bind-Value="_stateNormalWithPrepend" Placeholder="normal">
					<Prepend>
						<FieldText>@@</FieldText>
					</Prepend>
				</TextField>
			</Col>
		</Container>
	</EditForm>

	<h2>Estado: Normal com append</h2>

	<EditForm Model="this">
		<Container>
			<Col>
				<TextField Label="Smallest" Size="Sizes.Smallest" @bind-Value="_stateNormalWithAppend" Placeholder="normal">
					<Append>
						<FieldText>@@</FieldText>
					</Append>
				</TextField>
			</Col>
			<Col>
				<TextField Label="Smaller" Size="Sizes.Smaller" @bind-Value="_stateNormalWithAppend" Placeholder="normal">
					<Append>
						<FieldText>@@</FieldText>
					</Append>
				</TextField>
			</Col>
			<Col>
				<TextField Label="Small" Size="Sizes.Small" @bind-Value="_stateNormalWithAppend" Placeholder="normal">
					<Append>
						<FieldText>@@</FieldText>
					</Append>
				</TextField>
			</Col>
			<Col>
				<TextField Label="Medium" Size="Sizes.Medium" @bind-Value="_stateNormalWithAppend" Placeholder="normal">
					<Append>
						<FieldText>@@</FieldText>
					</Append>
				</TextField>
			</Col>
			<Col>
				<TextField Label="Large" Size="Sizes.Large" @bind-Value="_stateNormalWithAppend" Placeholder="normal">
					<Append>
						<FieldText>@@</FieldText>
					</Append>
				</TextField>
			</Col>
			<Col>
				<TextField Label="Larger" Size="Sizes.Larger" @bind-Value="_stateNormalWithAppend" Placeholder="normal">
					<Append>
						<FieldText>@@</FieldText>
					</Append>
				</TextField>
			</Col>
			<Col>
				<TextField Label="Largest" Size="Sizes.Largest" @bind-Value="_stateNormalWithAppend" Placeholder="normal">
					<Append>
						<FieldText>@@</FieldText>
					</Append>
				</TextField>
			</Col>
		</Container>
	</EditForm>

</Box>

@code {
	private string _name = string.Empty;
	private string _user = string.Empty;
	private string _site = string.Empty;
	private string _stateNormal = string.Empty;
	private string _stateNormalWithPrepend = string.Empty;
	private string _stateNormalWithAppend = string.Empty;
	private string _stateReadonly = "somente leitura";
	private string _stateDisabled = "desabilitado";
	private string _stateInvalid = string.Empty;
}
