
<div @attributes="@AdditionalAttributes" class="@panelClasses(this)">
    <header class="@headerClasses(this)">
        @HeaderContent
    </header>
    <div class="@mainClasses(this)">
        @MainContent    
    </div>
    @if (FooterContent.IsNotEmptyFragment())
    {
        <footer class="@footerClasses(this)">
            @FooterContent
        </footer>
    }
</div>

@code {
    // static CssMap<PanelBox> for panel-box
    private static readonly CssMap<PanelBox> panelClasses = Css.Map<PanelBox>()
        .Add("panel-box")
        .Add(static c => c.PanelBorder.CssClasses)
        .Add(static c => c.PanelAdditionalClasses)
        .Build();

    // static CssMap<PanelBox> for panel-box-main
    private static readonly CssMap<PanelBox> mainClasses = Css.Map<PanelBox>()
        .Add("panel-box-main")
        .Add(static c => c.MainAdditionalClasses)
        .Build();

    // static CssMap<PanelBox> for panel-box-header
    private static readonly CssMap<PanelBox> headerClasses = Css.Map<PanelBox>()
        .Add("panel-box-header")
        .Add(static c => c.HeaderBorder.CssClasses)
        .Add(static c => c.HeaderAdditionalClasses)
        .Build();

    // static CssMap<PanelBox> for panel-box-footer
    private static readonly CssMap<PanelBox> footerClasses = Css.Map<PanelBox>()
        .Add("panel-box-footer")
        .Add(static c => c.FooterBorder.CssClasses)
        .Add(static c => c.FooterAdditionalClasses)
        .Build();

    [Parameter]
    public Borders PanelBorder { get; set; } = Borders.Default;

    [Parameter]
    public Borders HeaderBorder { get; set; } = Borders.DefaultForHeaders;
    
    [Parameter]
    public Borders FooterBorder { get; set; } = Borders.DefaultForFooters;
    
    [Parameter]
    public string? PanelAdditionalClasses { get; set; }
    
    [Parameter]
    public string? MainAdditionalClasses { get; set; }
    
    [Parameter]
    public string? HeaderAdditionalClasses { get; set; }
    
    [Parameter]
    public string? FooterAdditionalClasses { get; set; }
    
    [Parameter]
    public RenderFragment? HeaderContent { get; set; }
    
    [Parameter]
    public RenderFragment? MainContent { get; set; }
    
    [Parameter]
    public RenderFragment? FooterContent { get; set; }
    
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
