
@inject BlazorShowOptions Options;

<div class="component-show">
    @if (Show.HasMultipleScenes)
    {
        <span class="component-name has-multiple-scenes" title="@Show.Description" @onclick=ShowHandler>
            @Show.Name
        </span>
        <div class="component-scenes @show">
            @foreach (var scene in Show.Scenes)
            {
                <SceneNav Scene="scene" @key=scene.Name/>
            }
        </div>
    }
    else
    {
        <a class="component-name scene-link" title="@Show.Description" href="@Options.MakeRoute(Show.GetDefaultRoute())">
            @Show.Name
        </a>
    }
</div>

@code {
    private string show = string.Empty;

    [Parameter, EditorRequired]
    public IShowDescription Show { get; set; }

    public void ShowHandler()
    {
        show = show == string.Empty ? "show" : string.Empty;
    }
}