@using Microsoft.AspNetCore.Components.Sections
@using RoyalCode.Razor.Commons

@inject OffCanvasService OffCanvasService
@implements IDisposable

<SectionContent SectionId="state">
	<div>
		<aside @attributes="Attributes"
			   class="@Classes"
			   @ref="state.ElementReference">
			<CascadingValue Value="handler">
				@if (UseBox)
				{
					<AsideBox Title="@Title" Size="@BoxSize" Closeable="@(Closeable ?? true)">
						@ChildContent
					</AsideBox>
				}
				else
				{
					@ChildContent
				}
			</CascadingValue>
		</aside>
		<div class="@BackdropClasses" @onclick="BackdropClickHandler" @ref="backdropRef"></div>
	</div>
</SectionContent>

@code {

	private string Classes => "ya-offcanvas"
		.AddClass(state.IsVisible, "ya-offcanvas-show")
		.AddClass(Position is Positions.Start, "ya-offcanvas-start", "ya-offcanvas-end")
		.AddClass(Fitting is Fitting.Overlaying, "ya-offcanvas-overlaying")
		.AddClass(Fitting is Fitting.Float, "ya-offcanvas-float")
		.AddClass(AdditionalClasses);

	private ElementReference? asideRef;
	private ElementReference? backdropRef;

	private readonly OffCanvasState state;

	public OffCanvas()
	{
		state = new OffCanvasState(() => InvokeAsync(StateHasChanged));
	}

	private string BackdropClasses => "ya-offcanvas-backdrop"
		.AddClass(state.IsVisible && Modal, "ya-offcanvas-backdrop-show ya-modal-visible")
		.AddClass(Fitting is Fitting.Overlaying, "ya-offcanvas-backdrop-overlaying");

	protected override void OnInitialized()
	{
		OffCanvasService.Add(state);
	}

	public void Dispose()
	{
		OffCanvasService.Remove(state);
	}
}