
<aside class="@Classes" @attributes="Attributes" @ref="asideRef">
    <CascadingValue Value="handler">
        @if(UseBox)
        {
            <AsideBox Title="@Title" Size="@BoxSize" Closeable="@(Closeable ?? true)">
                @ChildContent
            </AsideBox>
        }
        else
        {
            @ChildContent
        }
    </CascadingValue>
</aside>
<div class="@BackdropClasses" @onclick="BackdropClickHandler" @ref="backdropRef"></div>

@code {
    private ElementReference? asideRef;
    private ElementReference? backdropRef;

    private string Classes => "ya-offcanvas"
        .AddClass(IsVisible, "ya-offcanvas-show")
        .AddClass(Fitting is Fitting.Overlaying, "ya-offcanvas-overlaying")
        .AddClass(Fitting is Fitting.Float, "ya-offcanvas-float")
        .AddClass(AdditionalClasses);

    private string BackdropClasses => "ya-offcanvas-backdrop ya-backdrop"
        .AddClass(IsVisible, "ya-offcanvas-show")
        .AddClass(Fitting is Fitting.Overlaying, "ya-offcanvas-overlaying")
        .AddClass(Modal, "ya-offcanvas-modal")
        .AddClass(Modal && IsVisible, "ya-modal-show");
}