@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<br/>

<DropButton Label="Dropdown" MinWidth="Sizes.Large" Style="ButtonStyles.Primary" AdditionalClasses="mt-2">
    <DropItem>
        Action 1
    </DropItem>
    <DropItem OnClick="@(e => { Console.WriteLine("Hello drop item"); })">
        Action 2
    </DropItem>
    <DropItem>
        Action 3
    </DropItem>
    <li @onclick="@(e => { Console.WriteLine("Hello drop item"); })">Hello</li>
</DropButton>

<br />

<Button Label="Open Modal" OnClick="@(async e => await modalHandler1.OpenAsync())" />

<Modal Id="modal-sample-1" Handler="modalHandler1">
    <Box Style="BoxStyles.Light">
        Hello modal!
        <Button Label="Open Second Modal" OnClick="@(async e => await modalHandler2.OpenAsync())" />
    </Box>
</Modal>

<Modal Id="modal-sample-2" Handler="modalHandler2">
    <Box Style="BoxStyles.Light">
        Hello Second modal!
        <Button Label="Close Second Modal" OnClick="@(async e => await modalHandler2.CloseAsync())" />
    </Box>
</Modal>

@code {
    private int currentCount = 0;
    private ModalHandler modalHandler1 = new();
    private ModalHandler modalHandler2 = new();

    private void IncrementCount()
    {
        currentCount += 22;
    }
}
