@using RoyalCode.Razor.Commons.Layout


<CascadingValue Value="context" IsFixed="true">

	<RoyalCode.Razor.Internal.Modals.ModalOutlet />
	<RoyalCode.Razor.Internal.OffCanvas.OffCanvasOutlet />

	@PreContent

	<div @attributes="AdditionalAttributes" class="@Classes" @ref="context.LayoutReference">
		<header class="@HeaderClasses" @ref="context.HeaderReference">
			<AppTopBar Size="@TopSize"
					   StartContent="TopStart"
					   CenterContent="TopCenter"
					   EndContent="TopEnd" />
		</header>
		<div class="@PageClasses">
			@if (LeftMenu.IsNotEmptyFragment())
			{
				<AppSideBar Size="LeftMenuSize" Position="Positions.Start" AdditionalClasses="@AppSideBarClasses" @ref="leftMenuRef">
					@LeftMenu
				</AppSideBar>
			}
			<div class="@ContentClasses">
				<main class="@MainClasses" @ref="context.MainReference">
					@Main
				</main>
				<footer class="@FooterClasses" @ref="context.FooterReference">
					@Footer
				</footer>
			</div>
			@if (RightMenu.IsNotEmptyFragment())
			{
				<AppSideBar Size="RightMenuSize" Position="Positions.End" AdditionalClasses="@AppSideBarClasses">
					@RightMenu
				</AppSideBar>
			}
		</div>
	</div>

	@PostContent

</CascadingValue>

@code {

	private string Classes => "ya-app-layout"
		.AddClass(TopSize.ToFitTopSpacing())
		.AddClass(AdditionalClasses);

	private string HeaderClasses => "ya-app-header"
		.AddClass(AdditionalHeaderClasses);

	private string PageClasses => "ya-app-page"
		.AddClass(Css.Padding.Side.Top().WithSize(TopSize))
		.AddClass(AdditionalPageClasses);

	private string AppSideBarClasses => Css.Margin.Side.Top().WithSize(TopSize);

	private string ContentClasses => "ya-app-content"
		.AddClass(LeftMenu.IsNotEmptyFragment(), Css.Margin.Side.Left().WithSize(LeftMenuSize))
		.AddClass(RightMenu.IsNotEmptyFragment(), Css.Margin.Side.Right().WithSize(RightMenuSize))
		.AddClass(AdditionalContentClasses);

	private string MainClasses => "ya-app-main".AddClass(AdditionalMainClasses);

	private string FooterClasses => "ya-app-footer"
		.AddClass(SpacingSize.LargerX2.ToHeightCssClass())
		.AddClass(AdditionalFooterClasses);

	private readonly AppLayoutContext context = new();

	private AppSideBar? leftMenuRef;
	private AppSideBar? rightMenuRef;

	[Parameter]
	public RenderFragment PreContent { get; set; } = EmptyFragment.Delegate;

	[Parameter]
	public RenderFragment PostContent { get; set; } = EmptyFragment.Delegate;

	[Parameter]
	public SpacingSize TopSize { get; set; } = SpacingSize.LargerX2;

	[Parameter]
	public SpacingSize FooterSize { get; set; } = SpacingSize.LargerX2;

	[Parameter]
	public SpacingSize LeftMenuSize { get; set; } = SpacingSize.LargerX2;

	[Parameter]
	public SpacingSize RightMenuSize { get; set; } = SpacingSize.LargerX2;

	[Parameter]
	public RenderFragment TopStart { get; set; } = EmptyFragment.Delegate;

	[Parameter]
	public RenderFragment TopCenter { get; set; } = EmptyFragment.Delegate;

	[Parameter]
	public RenderFragment TopEnd { get; set; } = EmptyFragment.Delegate;

	[Parameter]
	public RenderFragment LeftMenu { get; set; } = EmptyFragment.Delegate;

	[Parameter]
	public RenderFragment RightMenu { get; set; } = EmptyFragment.Delegate;

	[Parameter, EditorRequired]
	public RenderFragment Main { get; set; } = EmptyFragment.Delegate;

	[Parameter, EditorRequired]
	public RenderFragment Footer { get; set; } = EmptyFragment.Delegate;

	/// <summary>
	/// Additional CSS classes to apply to the container for custom styling.
	/// </summary>
	[Parameter]
	public string? AdditionalClasses { get; set; }

	/// <summary>
	/// Additional CSS classes to apply to the header for custom styling.
	/// </summary>
	[Parameter]
	public string? AdditionalHeaderClasses { get; set; }

	/// <summary>
	/// Additional CSS classes to apply to the app-page for custom styling.
	/// </summary>
	[Parameter]
	public string? AdditionalPageClasses { get; set; }

	/// <summary>
	/// Additional CSS classes to apply to the page content for custom styling.
	/// </summary>
	[Parameter]
	public string? AdditionalContentClasses { get; set; }

	/// <summary>
	/// Additional CSS classes to apply to the main content for custom styling.
	/// </summary>
	[Parameter]
	public string? AdditionalMainClasses { get; set; }

	/// <summary>
	/// Additional CSS classes to apply to the footer for custom styling.
	/// </summary>
	[Parameter]
	public string? AdditionalFooterClasses { get; set; }

	/// <summary>
	/// Additional attributes that will be applied to the container's outermost HTML element.
	/// </summary>
	[Parameter(CaptureUnmatchedValues = true)]
	public IDictionary<string, object>? AdditionalAttributes { get; set; }

	protected override void OnParametersSet()
	{
		context.TopSize = TopSize;
		context.FooterSize = FooterSize;
		context.LeftMenuSize = LeftMenuSize;
		context.RightMenuSize = RightMenuSize;
	}
}
